{{ partial "header" . }}

<main>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">

                        <h1>{{ .Site.Title }}</h1>

                        <h2>{{ .Site.Params.Description }}</h2>
                        
                       
                        <h2><a href="https://ssha.org/files/2023_SSHA_CFP.pdf" target="_blank" role="button" class="btn btn-default btn-lg"><i><h2>SSHA Call for Papers</h2></i></a></h2>
                        <br />

                        <img class="hidden-xs" src="/images/ssha.gif">
                        <img class="hidden-sm hidden-md hidden-lg" src="/images/ssha_small.gif">
                        
                        <br /><br />

                        <!-- <h4>{{ .Site.Params.Introtext }}</h4> -->
                        <h4>The Social Science History Association is an interdisciplinary organization that publishes a journal, <em>Social Science History</em>, organizes an annual conference, supports graduate student travel to the conference, and awards book and article prizes.
                            <br> <br>
                            With scholars from history, economics, sociology, demography, anthropology, and other social sciences, the association brings together scholars in thematic networks where they can explore common questions.
                            <br> <br>
                            Each network organizes its own call for papers and selects the bulk of the papers to be presented at the annual conference. This open, flexible, and non-hierarchical structure makes these networks particularly welcoming spaces for younger scholars and invigorating tonic for more seasoned academics.</h4>

                        <hr width=400><br />
                        <h1>SSHA 2021 Conference Award Winners</h1>
                        <br />
                        <h2><u>Allan Sharlin Memorial Book Award (2020)</u></h2>
                        <style>
                            table, th, td {
                              padding: 5px 15px;
                              margin: 0px;
                              text-align: center;
                            }
                            </style>
                             <table style="width:107%">
                              <col style="width:34%">
                              <col style="width:33%">
                              <col style="width:33%">
                              <tr>
                                <th><h4>Book Award Winner</h4></th>
                                <th><h4>Honorable Mention</h4></th>
                                <th><h4>Honorable Mention</h4></th>
                              </tr>
                              <tr>
                                <td><a target="_blank" href="https://www.hup.harvard.edu/catalog.php?isbn=9780674238329">
                              <img src="/images/Agents_Walder.jpg" alt="Agents">
                            </a></td>
                                <td><a target="_blank" href="https://press.princeton.edu/books/hardcover/9780691190938/sorting-out-the-mixed-economy">
                              <img src="/images/Sorting_Offner.jpg" alt="Sorting">
                            </a></td>
                                <td><a target="_blank" href="https://press.princeton.edu/books/hardcover/9780691190938/9780691182179/dark-matter-credit">
                              <img src="/images/Dark_Hoffman.jpg" alt="Dark">
                            </a></td>
                              </tr>
                              <tr valign="top">
                                <td><h4><b>Andrew G. Walder</b><br> <a href="https://www.hup.harvard.edu/catalog.php?isbn=9780674238329" target="_blank"><i>Agents of Disorder Inside China’s Cultural Revolution.</i></a><br>
                            Harvard University Press <br />(October 8, 2019)</h4></td>
                                <td><h4><b>Amy C. Offner</b><br> <a href="https://press.princeton.edu/books/hardcover/9780691190938/sorting-out-the-mixed-economy" target="_blank"><i>Sorting Out the Mixed Economy: The Rise and Fall of Welfare and Developmental States in the Americas.</i></a><br>
                            Princeton University Press <br />(September 17, 2019)</h4></td>
                                <td><h4><b>Philip T. Hoffman, <br />Gilles Postel-Vinay, and <br />Jean-Laurent Rosenthal</b><br /> <a href="https://press.princeton.edu/books/hardcover/9780691182179/dark-matter-credit" target="_blank"><i>Dark Matter Credit: The Development of Peer-to-Peer Lending and Banking in France.</i></a><br />Princeton University Press <br />(February 5, 2019)</h4></td>
                              </tr>
                            </table>
                            <br />
                            <h2><u>Allan Sharlin Memorial Book Award (2021)</u></h2>
                            
                            <style>
                            table, th, td {
                              padding: 5px 15px;
                              margin: 0px;
                              text-align: center;
                            }
                            </style>
                             <table style="width:107%">
                              <col style="width:34%">
                              <col style="width:33%">
                              <col style="width:33%">
                              <tr>
                                <th><h4>Book Award Co-Winner</h4></th>
                                <th><h4>Book Award Co-Winner</h4></th>
                                <th><h4>Honorable Mention</h4></th>
                              </tr>
                              <tr>
                                <td><a target="_blank" href="https://www.cambridge.org/core/books/genesis-of-rebellion/A539D6E86D957A09EDAC4223C5EBD0C0">
                              <img src="/images/Genesis_Pfaff.jpg" alt="Agents" class="responsive">
                            </a></td>
                                <td><a target="_blank" href="https://press.uchicago.edu/ucp/books/book/chicago/P/bo48408506.html">
                              <img src="/images/Power_Reed.jpg" alt="Power">
                            </a></td>
                                <td><a target="_blank" href="https://press.princeton.edu/books/hardcover/9780691172408/empires-of-vice">
                              <img src="/images/Empires_Kim.jpg" alt="Dark">
                            </a></td>
                              </tr>
                              <tr valign="top">
                                <td><h4><b>Steven Pfaff</b> and <br /><b>Michael Hechter</b><br /> <a href="https://www.cambridge.org/core/books/genesis-of-rebellion/A539D6E86D957A09EDAC4223C5EBD0C0" target="_blank"><i>The Genesis of Rebellion: Governance, Grievance, and Mutiny in the Age of Sail</i></a><br> 
                            Cambridge University Press <br />(September 3, 2020)</h4></td>
                                <td><h4><b>Isaac Ariail Reed</b><br> <a href="https://press.uchicago.edu/ucp/books/book/chicago/P/bo48408506.html" target="_blank"><i>Power in Modernity <br />Agency Relations and the Creative Destruction of the King’s Two Bodies.</i></a><br>
                            University of Chicago Press <br />(March 25, 2020)</h4></td>
                                <td><h4><b>Diana S. Kim</b><br /> <a href="https://press.princeton.edu/books/hardcover/9780691172408/empires-of-vice" target="_blank"><i>
                            Empires of Vice: The Rise of Opium Prohibition across Southeast Asia.</i></a><br />Princeton University Press <br />(February 18, 2020)</h4></td>
                              </tr>
                            </table>
                            <br />
                            <br />
                            <h4><u>Founders Prize</u><br /><br />
                            <b>Steven Sprick Schuster, Matthew Jaremski and Elisabeth Ruth Perlman</b><br> <a href="https://doi.org/10.1017/ssh.2020.31" target="_blank">"An Empirical History of the US Postal Savings System."</a><br>
                            <i>Social Science History</i> &nbsp;Volume 44, Issue 4 (Winter 2020), pp. 667-696.</h4><br />
                        <hr>
                    </div>
                </div>

                <div class="intro" style="margin: 3.2vh 0">
                {{ partial "sidebar.html" . }}
                </div>

            </div>
        </div>



</main>

{{ partial "footer" . }}
