{{ partial "header" . }}

<main>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">

                        <h1>{{ .Site.Title }}</h1>

                        <h2>{{ .Site.Params.Description }}</h2><br />
                        
                        <img class="hidden-xs" src="/images/ssha.gif">
                        <img class="hidden-sm hidden-md hidden-lg" src="/images/ssha_small.gif">
                        
                        <br /><br />

                        <hr width=400>

                        <!-- <h4>{{ .Site.Params.Introtext }}</h4> -->
                        <h4>The Social Science History Association is an interdisciplinary organization that publishes a journal, <em>Social Science History</em>, organizes an annual conference, supports graduate student travel to the conference, and awards book prizes.
                            <br> <br>
                            With scholars from history, economics, sociology, demography, anthropology, and other social sciences, the association brings together scholars in thematic networks where they can explore common questions.
                            <br> <br>
                            Each network organizes its own call for papers and selects the bulk of the papers to be presented at the annual conference. This open, flexible, and non-hierarchical structure makes these networks particularly welcoming spaces for younger scholars and invigorating tonic for more seasoned academics.</h4>

                        <hr><br />
                        <h2>SSHA 2019 Conference Award Winners</h2>
                        <hr width=100>
                            <h4><u>Presidents Book Award</u></h4>
                                <ul class="list-unstyled support">
                                    <li>Seth Archer</li>
                                    <li><a href="https://www.cambridge.org/us/academic/subjects/history/history-native-american-peoples/sharks-upon-land-colonialism-indigenous-health-and-culture-hawaii-17781855?format=HB&isbn=9781107174566" target="_blank"><i>Sharks upon the Land: Colonialism, Indigenous Health, and Culture in Hawai’i, 1778–1855</i></a></li> 
                                    <li>Cambridge University Press (May 25, 2018)</li>
	                            </ul><br />
                        <h4><u>Allan Sharlin Memorial Book Award</u></h4>
                            <ul class="list-unstyled support">
                                <li>Alan Greer</li>
                                <li><a href="https://www.cambridge.org/us/academic/subjects/history/history-native-american-peoples/property-and-dispossession-natives-empires-and-land-early-modern-north-america?format=PB" target="_blank"><i>Property and Dispossession: Natives, Empires and Land in Early Modern North America</i></a></li>
                                <li>Cambridge University Press (January 11, 2018)</li><br />
                                <li>Devin Caughey (Honorable Mention)</li>
                                <li><a href="https://press.princeton.edu/books/paperback/9780691181806/the-unsolid-south" target="_blank"><i>The Unsolid South: Mass Politics and National Representation in a One-Party Enclave</i></a></li> 
                                <li>Princeton University Press (September 25, 2018)
                            </ul><br />
                        <h4><u>Founders Prize</u></h4>
	                        <ul class="list-unstyled support">
                                <li>Lisa D. Cook, Trevon D. Logan and John M. Parman</li>
                                <li><a href="https://doi.org/10.1017/ssh.2018.21" target="_blank">"Racial Segregation and Southern Lynching"</a></li>
                                <li><i>Social Science History</i> &nbsp;Volume 42, Issue 4 (Winter 2018), pp. 635-675.</li>
                        <hr>
                    </div>
                </div>

                <div class="intro" style="margin: 3.2vh 0">
                {{ partial "sidebar.html" . }}
                </div>

            </div>
        </div>



</main>

{{ partial "footer" . }}
