{{ partial "header" . }}

<main>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">

                        <h1>{{ .Site.Title }}</h1>

                        <h2>{{ .Site.Params.Description }}</h2>
                        
                        <hr width=300>
                        <h3><a href="https://ssha.org/news/">How will SSHA 2021 work?</a></h3>
                        <h3><a href="https://indianauniv.ungerboeck.com/prod/emc00/register.aspx?OrgCode=10&EvtID=10425&AppCode=REG&CC=121092803651">2021 Conference Registration is Now Open!</a></h3>
                        <h3><a href="/files/SSHA2021_Full_Program.pdf">2021 Conference Program</a></h3>
                        <h3><a href="https://book.passkey.com/go/SSHA">Hotel Registration</a></h3>
                        <hr width=300>
                        <br />

                        <img class="hidden-xs" src="/images/ssha.gif">
                        <img class="hidden-sm hidden-md hidden-lg" src="/images/ssha_small.gif">
                        
                        <br /><br />

                        <!-- <h4>{{ .Site.Params.Introtext }}</h4> -->
                        <h4>The Social Science History Association is an interdisciplinary organization that publishes a journal, <em>Social Science History</em>, organizes an annual conference, supports graduate student travel to the conference, and awards book and article prizes.
                            <br> <br>
                            With scholars from history, economics, sociology, demography, anthropology, and other social sciences, the association brings together scholars in thematic networks where they can explore common questions.
                            <br> <br>
                            Each network organizes its own call for papers and selects the bulk of the papers to be presented at the annual conference. This open, flexible, and non-hierarchical structure makes these networks particularly welcoming spaces for younger scholars and invigorating tonic for more seasoned academics.</h4>

                        <hr width=400><br />
                        <h2>SSHA 2020 Conference Award Winners</h2>
                        <br />
                            <h4><u>Presidents Book Award</u></h4>
                                <ul class="list-unstyled support">
                                    <li>James Poskett</li>
                                    <li><a href="https://press.uchicago.edu/ucp/books/book/chicago/M/bo38181419.html" target="_blank"><i>Materials of the Mind: Phrenology, Race, and the Global History of Science, 1815-1920</i></a></li>
                                <li>University of Chicago Press (April 26, 2019)</li>
	                            </ul><br />
                        <h4><u>Allan Sharlin Memorial Book Award</u></h4>
                            <ul class="list-unstyled support">
                                <b>**TBA**</b>
                            </ul><br />
                        <h4><u>Founders Prize</u></h4>
	                        <ul class="list-unstyled support">
                                <li>Kinga Makovi</li>
                                <li><a href="https://doi.org/10.1017/ssh.2019.25" target="_blank">"The Signatures of Social Structure: Petitioning for the Abolition of the Slave Trade in Manchester"</a></li>
                                <li><i>Social Science History</i> &nbsp;Volume 43, Issue 3 (Fall 2019), pp. 625-652.</li>
                            </ul><br />
                            <h4><u>Graduate Student Prize</u></h4>
	                        <ul class="list-unstyled support">
                                <li>Nate Ela</li>
                                <li><a href="https://doi.org/10.1017/ssh.2019.12" target="_blank">"Use-Based Welfare: Property Experiments in Chicago, 1895–1935"</a></li>
                                <li><i>Social Science History</i> &nbsp;Volume 43, Issue 2 (Summer 2019), pp. 319-344.</li>
                            </ul><br />
                        <hr>
                    </div>
                </div>

                <div class="intro" style="margin: 3.2vh 0">
                {{ partial "sidebar.html" . }}
                </div>

            </div>
        </div>



</main>

{{ partial "footer" . }}
