<div class="col-md-4">
    <h4><u>Announcements</u></h4>
        <div style="background-color: #fffffa; padding: 5px;">
    {{ range where .Site.Pages "Section" "announcement" }}
        {{ .Content }}
    {{ end }}
        </div>
    <hr width="200">

    <h4><u>Supporting SSHA</u></h4>
    <ul class="list-unstyled support">
        <li><a href="https://indianauniv-web.ungerboeck.com/mbd/mbd_p23_add_member.aspx?oc=10&cc=SSHA-MEMBER" target="_blank">Become a member &#187;</a></li>
        <li><a href="/donate/">Donate to SSHA &#187;</a></li>
    </ul>

    <br />
    <h4><u>SSHA Twitter Feed</u></h4>
    <h4>@SocSciHist</h4>
    <p align="right"><a class="twitter-timeline" href="https://twitter.com/socscihist" data-width="300" data-height="500" data-chrome="noheader nofooter"></a></p>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
