<div class="col-md-4">
    <h4><u>Announcements</u></h4>
    {{ range where .Site.Pages "Section" "announcement" }}
        {{ .Content }}
    {{ end }}

    <hr>

    <h4><u>Supporting SSHA</u></h4>
    <ul class="list-unstyled support">
        <li><a href="https://indianauniv-web.ungerboeck.com/mbd/mbd_p23_add_member.aspx?oc=10&cc=SSHA-MEMBER" target="_blank">Become a member &#187;</a></li>
        <li><a href="https://indianauniv.ungerboeck.com/prod/emc00/PublicSignIn.aspx?OrgCode=10&EvtID=8079&CC=117060739156&SessionID=ejnfa3eioej5fe0fd3fe5&DictSeq=27&Lang=*&AppCode=REG&CultureInfo=en-US" target="_blank">Attend our annual conference &#187;</a></li>
        <li><a href="/donate/">Donate to SSHA &#187;</a></li>
    </ul>

    <hr>

    <h4><u>@SocSciHist</u></h4>
    <a class="twitter-timeline" href="https://twitter.com/socscihist" data-width="300" data-height="500" data-chrome="noheader nofooter"></a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
