<div class="col-md-3">
    <h4><u>Announcements</u></h4>
    {{ range where .Site.Pages "Section" "announcement" }}
        {{ .Content }}
    {{ end }}

    <hr width="200">

    <h4><u>Supporting SSHA</u></h4>
    <ul class="list-unstyled support">
        <li><a href="https://indianauniv-web.ungerboeck.com/mbd/mbd_p23_add_member.aspx?oc=10&cc=SSHA-MEMBER" target="_blank">Become a member &#187;</a></li>
        <li><a href="/donate/">Donate to SSHA &#187;</a></li>
    </ul>

    <hr width="200">

    <h4><u>@SocSciHist</u></h4>
    <a class="twitter-timeline" href="https://twitter.com/socscihist" data-width="300" data-height="500" data-chrome="noheader nofooter"></a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
